* {
    box-sizing: border-box;
}

:root {
    --splitred: rgb(147 40 44);
    --compochre: rgb(139 91 41);
    --slate: rgb(35 97 146);
    --splitochre: rgb(141 139 83);
    --jade: rgb(39 153 137);
    --vio: rgb(47 42 149);
}

html {
    background-color: var(--slate);
}

.search-container {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;
    height: auto;
    padding-bottom: 20px;
}

.search-container form {
    margin-top: 2rem;
}

.search-input {
    height: auto;
}

nav {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0.25rem 0.25rem 0 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 1rem;

}

nav * {
    color: black !important;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: whitesmoke;
    border-radius: 0.25rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.job-card {
    border: 1px solid var(--slate);
    padding: 1rem;
    color: black;
    margin: 0 !important;
    height: 25vh;
}

.card-reveal {
    overflow-x: hidden;
}

.card-reveal > .card-title {
    font-size: 12px;
    display: flex !important;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.card-reveal > a {
    width: max-content;
    height: max-content;
}

.row::after {
    content: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pagination-btn {
    width: 138px;
}
